.about-content {

  p + p {
    margin-top: 10px;
  }

  .about-content__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .about-content__link {
    display: block;
    margin: 40px auto 0;
  }
}
