.project-details {
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: relative;
  width: calc(200% + 30px);

  .project-details__inner {
    padding: 15px;
    border: 1px solid $black;
    border-top: none;
    background-color: $white;
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: -1;

    &:before {
      height: 1px;
      content: "";
      background-color: $black;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    &:after {
      border-top: 1px solid $black;
      border-left: 1px solid $black;
      border-right: 1px solid $transparent;
      border-bottom: 1px solid $transparent;
      background-color: $white;
      position: absolute;
      content: "";
      display: block;
      top: 1px;
      left: 10px;
      width: 10px;
      height: 10px;
      transform: translateY(-50%) rotate(45deg)
    }
  }

  &.is-visible {
    opacity: 1;

    .project-details__inner {
      margin-top: 10px;
      z-index: 0;
    }
  }
}
