.link {
  background-color: $transparent;
  font-family: $font-OS-Regular;
  width: 240px;
  margin-top: 15px;
  display: inline-block;
  padding: 5px 0;
  transition: all $default-animation;
  color: $black;
  border: 1px solid $black;
  text-align: center;

  &.link--white {
    border-color: $white;
    color: $white;
  }

  &.link--white-filled {
    background-color: $white;
    border-color: $white;
    color: $grey;
  }

  &:hover {
    border-color: $grey-3;
    background-color: $grey-3;
    color: $white;
  }
}

