
.project-tile {
  color: $white;
  display: inline-block;
  height: 110px;
  width: 100%;
  position: relative;
  text-align: center;

  .project-tile__inner {
    left: 15px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    overflow: hidden;
    transition: all $default-animation;
  }

  .project-tile__inner__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115px;
    opacity: 1;
    transition: opacity $default-animation;
  }

  .project-tile__inner__img {
    opacity: 0;
    text-align: left;
    transition: all $default-animation;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    height: calc(100% + 40px);
    min-width: calc(100% + 40px);
    max-width: 200%;
    position: absolute;
  }


  &:hover {
    .project-tile__inner {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    .project-tile__inner__text {
      opacity: 0;
    }

    .project-tile__inner__img {
      opacity: 1;
      top: 0;
      height: 100%;
    }
  }
}
