.btn-close {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $white;

  &:focus {
    border: 1px solid #00f;
  }

  .btn-close__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 1px;
      height: 25px;
      background-color: $black;
      top: 50%;
    }

    &:before {
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:after {
      right: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
