.classic-form {
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  background-color: $white;
  padding: 30px;
  margin-top: 20px;

  .classic-form__field {
    label {
      display: block;
      font-weight: 600;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 6px 3px;
    }

    & + .classic-form__field {
      margin: 15px 0 0;
    }
  }

  .classic-form__field--inline {
    label {
      display: inline-block;
      margin: 0 0 0 10px;
    }
  }

  .actions {
    margin-top: 10px;
  }
}
