// ======================================================================================================
//
// Base: Base element normalization
//
// ======================================================================================================

// --------------------------------------------------
// Document
// --------------------------------------------------

html {
  background: transparent;
  box-sizing: border-box;
  height: 100%;
  font-size: $font-size-root;
  min-height: 100%;
  position: relative;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  background: $body-bg;
  color: $default-txt-color;
  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: $font-weight-default;
  height: 100%;
  line-height: $line-height-base;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizelegibility;
  @include font-smoothing();

  &.admin {
    background-color: $grey-light;
  }
}

// --------------------------------------------------
// HTML5 Element Default
// --------------------------------------------------

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

address {
  font-style: normal;
}

// --------------------------------------------------
// Lists
// --------------------------------------------------

nav {
  ol,
  ul{
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  ul,
  ol {
    margin-bottom: 0;
  }
}

dl {
  margin: 0;
}

// --------------------------------------------------
// Spacers
// --------------------------------------------------

figure {
  margin: 0;
}

hr {
  background: $grey;
  border: none;
  display: block;
  height: 1px;
  margin: 20px 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

// --------------------------------------------------
// Body text elements
// --------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0;
}

p {
  letter-spacing: 0;
  margin: 0;
  text-transform: none;
}

i { font-style: normal; }

a {
  text-decoration: none;
}

// --------------------------------------------------
// Images
// --------------------------------------------------

img {
  border: 0;
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

// --------------------------------------------------
// Forms
// --------------------------------------------------

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  text-rendering: optimizelegibility;
  @include font-smoothing();
}

button {
  overflow: visible;

  span { position: relative; }
}

button,
select {
  text-transform: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  outline: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
height: 0;
  width: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none
}

button[disabled],
html input[disabled] {
  cursor: $font-family-default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner,
select::-moz-focus-inner {
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

a, div, span, p, em, strong, a:focus {
  outline: none !important;
  -moz-outline: none !important;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

// --------------------------------------------------
// Placeholder Text
// --------------------------------------------------

::-webkit-input-placeholder { color: $placeholder-txt-color; }
::-moz-placeholder          { color: $placeholder-txt-color; }
:-ms-input-placeholder      { color: $placeholder-txt-color; }
:-ms-input-placeholder      { color: $placeholder-txt-color; }

// --------------------------------------------------
// Tables
// --------------------------------------------------

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

// --------------------------------------------------
// Selection
// --------------------------------------------------

::-moz-selection {
  background: rgba($highlight, 0.9);
  color: $black;
  text-shadow: none;
}

::selection {
  background: rgba($highlight, 0.9);
  color: $black;
  text-shadow: none;
}

