.projects-list {
  display: block;
  font-size: 0;
  margin-left: -10px;
  margin-top: 5px;

  .projects-list__piece {
    &:nth-child(2n + 1) .project-details__inner:after {
      left: calc(50% + 50px);
    }

    &:nth-child(2n) .project-details__inner:after {
      left: 50px;
    }
    // overflow: hidden;
  }

  @each $color in $color-selections {
    $i: index($color-selections, $color);
    .projects-list__piece:nth-child(5n + #{$i}) .project-tile {
      background-color: $color;
    }
  }
}

.projects-list--home {
  .projects-list__piece:nth-child(n + 3) {
    display: none;
  }
}


@include cols(1, 2, 10px, 10px, '.projects-list', '.projects-list__item');
