.nav-wrapper {
  background-color: $grey-2;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  .nav-wrapper__highlighter {
    position: absolute;
    top: 0;
    height: 46px;
    background-color: $black;
    z-index: -1;
    transition: left $default-animation, width $default-animation;
  }
}
