.nav-wrapper {
  background-color: $grey-3;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 210px;
  z-index: 10;
  transition: all $default-animation;

  .nav-wrapper__toggle {
    position: absolute;
    top: 0;
    left: 100%;
    height: $nav-height;
    width: $nav-height;
    background-color: $kashmir-blue;
    padding: 0;
    border: 1px solid $black;
    color: $white;

    .nav-wrapper__toggle__label {
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  $toggle-spacing: 5px;
  .nav-wrapper__toggle__items-1:before,
  .nav-wrapper__toggle__items-1:after,
  .nav-wrapper__toggle__items-2:before,
  .nav-wrapper__toggle__items-2:after {
    position: absolute;
    width: calc(100% - 20px);
    height: $toggle-spacing;
    left: 10px;
    background-color: $white;
    content: "";
    transition: all $default-animation;
  }

  .nav-wrapper__toggle__items-1:before { top: $toggle-spacing;  }
  .nav-wrapper__toggle__items-1:after  { top: $toggle-spacing * 3; }
  .nav-wrapper__toggle__items-2:before { top: $toggle-spacing * 3; }
  .nav-wrapper__toggle__items-2:after  { top: $toggle-spacing * 5; }

  .nav-wrapper__highlighter {
    position: absolute;
    top: 0;
    height: $nav-height - 1px;
    background-color: $black;
    z-index: -1;
    transition: left $default-animation, width $default-animation, top $default-animation;
  }

  &.is-visible {
    transform: translateX(0);

    .nav-wrapper__toggle__items-1:before,
    .nav-wrapper__toggle__items-1:after,
    .nav-wrapper__toggle__items-2:before,
    .nav-wrapper__toggle__items-2:after {
      width: 20px;
    }

    .nav-wrapper__toggle__items-1:before {
      top: 50%;
      left: 50%;
      transform: translate(0, -50%) rotate(45deg);
      transform-origin: left;
    }

    .nav-wrapper__toggle__items-1:after  {
      top: 50%;
      left: 50%;
      transform: translate(0, -50%) rotate(-45deg);
      transform-origin: left;
    }

    .nav-wrapper__toggle__items-2:before {
      left: initial;
      right: 50%;
      top: 50%;
      transform: translate(0, -50%) rotate(45deg);
      transform-origin: right;
    }

    .nav-wrapper__toggle__items-2:after  {
      left: initial;
      top: 50%;
      right: 50%;
      transform: translate(0, -50%) rotate(-45deg);
      transform-origin: right;
    }

    .nav-wrapper__toggle__label { @include isVisuallyHidden(); }
  }
}
