.btn {
  padding: 10px 15px;
  background-color: $kashmir-blue;
  color: $white;
  transition: all $default-animation;
  display: inline-block;

  &.btn-danger {
    background-color: $error-red;
  }

  &.btn-info {
    background-color: darken($shadow-green, 15%);
  }

  &:hover {
    background-color: darken($kashmir-blue, 15%);

    &.btn-danger {
      background-color: darken($error-red, 15%);
    }

    &.btn-info {
      background-color: darken($shadow-green, 25%);
    }
  }




}
