<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
</head>
<body>
  <p>From: <%= @inquiry.email %></p>
  <p>Name: <%= @inquiry.name %></p>
  <p>Message: <%= @inquiry.message %></p>
</body>
</html>
