.contact-form-wrapper {

  .contact-form {
    transition: opacity $default-animation;
    width: 100%;
    margin-top: 30px;

    .contact-form__group {
      position: relative;

      & + .contact-form__group {
        margin-top: 10px;
      }

      .contact-form__group__label {
        position: absolute;
        left: 10px;
        top: 4px;
      }

      .contact-form__group__input,
      .contact-form__group__textarea {
        display: block;
        width: 100%;
        border: 0;
        background-color: $grey-1;
        transition: all $default-animation;
      }

      .contact-form__group__input--email {
        padding: 10px 10px 10px 65px;
        border: 1px solid $transparent;

        &:focus {
          box-shadow: 0 0 5px $mint-green;
          border-color: $mint-green;
        }
      }

      .contact-form__group__input--name {
        padding: 10px 10px 10px 67px;
        border: 1px solid $transparent;

        &:focus {
          box-shadow: 0 0 5px $kashmir-blue;
          border-color: $kashmir-blue;
        }
      }

      .contact-form__group__textarea {
        max-width: 100%;
        min-width: 100%;
        padding: 6px 7px;
        border: 1px solid $transparent;
        text-indent: 98px;

        &:focus {
          box-shadow: 0 0 5px $tawny-port;
          border-color: $tawny-port;
        }
      }
    }

    .contact-form__submit {
      @extend .link;
      background-color: $white;
      border: 1px solid $black;
      display: block;
      margin: 25px auto 0;
    }
  }

  .contact-success {
    opacity: 0;
    display: none;
    text-align: center;
    margin-top: 30px;
    transition: opacity $default-animation;

    .contact-success__img {
      display: block;
      margin: 15px auto 0;
    }
  }


}
