
// atoms
@import "atoms/cols/cols";
@import "atoms/home-panel/home-panel";
// @import "atoms/page-wrapper/page-wrapper";
@import "atoms/link/link";
@import "atoms/project-tile/project-tile";
@import "atoms/section-hdg/section-hdg";
@import "atoms/section-max-width/section-max-width";
@import "atoms/type/type";


// molecules
@import "molecules/about-content/about-content";
@import "molecules/home/home";
@import "molecules/contact-form/contact-form";
@import "molecules/main-section/main-section";
@import "molecules/nav/nav";
@import "molecules/nav-wrapper/nav-wrapper";
@import "molecules/projects-list/projects-list";
